<!-- Link Swiper's CSS -->
<div>
  <h2 style="text-align: center;">Reviews</h2>
  <div class="swiper ReviewsSl">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="ContenidoReview swiper-slide  ">
          <img class="ImgReview" src="{{ block.settings.productReview | img_url: '600x'  }}">
          <div class="TextReviews">

            <img
              class="Comillas"
              src="https://cdn.shopify.com/s/files/1/0812/3737/7332/files/speech-marks_ver_1-removebg-preview.png?v=1693850124"
              alt="">


            <p>{{ block.settings.Review }}</p>
            <p>
              - {{ block.settings.NameReview }}</p>
          </div>
        </div>

      {% endfor %}

    </div>
    <div class="swiper-pagination"></div>
  </div>

</div>
{% schema %}
  {
    "name": "Reviews",
    "class": "Reviews",
    "settings": [],
    "blocks": [
      {
        "type": "image",
        "name": "Review",
        "settings": [
          {
            "type": "image_picker",
            "id": "productReview",
            "label": "Product"
          }, {
            "type": "text",
            "id": "Review",
            "label": "Review"
          }, {
            "type": "text",
            "id": "NameReview",
            "label": "Nombre Review"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Reviews",
        "blocks": []
      }
    ]
  }
{% endschema %}

<style>

  .Comillas {
    width: 40px;
    position: absolute;
    top: 2rem;
    left: 2rem;
  }

  .ContenidoReview {
    display: flex;
    padding-bottom: 45px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .ImgReview {
    width: 50%;
    height: 325px;
    object-fit: cover;
  }
  .TextReviews {
    height: 240px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 4rem;
    position: relative;
  }

  @media screen and (max-width: 600px) {
    .ContenidoReview {
      flex-direction: column;
    }
    .ImgReview {
      height: 300px;
      width: 80%;
    }
    .TextReviews {
     padding: 0.5rem;
    height: 150px;
    width: 80%;
    }
    .ImgSliderCollecion,
    .ImgSliderCollecion2 {
      height: 300px;
      width: 100%;
      object-fit: cover;
    }

    .Comillas {
    width: 18px;
    position: absolute;
    top: 2rem;
    left: 0rem;
  }
    
  }
</style>

<script>
  var swiper = new Swiper(".ReviewsSl", {
    slidesPerView: 1,
    spaceBetween: 0,
    speed: 1000,
    pagination: {
      el: ".swiper-pagination",
      clickable: true
    },
    breakpoints: {
      950: {
        slidesPerView: 2,
        spaceBetween: 0
      }
    }
  });
</script>