<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<h3>Testimonios</h3>
<h2>Más de 1,000 clientes satisfechos</h2>
<div class="ContenedorReviews">
  <div>
    <div class="CardTestimonio">
      <div class="ImgTextReview">
        <img
          class="ImgReview"
          src="https://images.unsplash.com/photo-1616002411355-49593fd89721?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGNhcmElMjBkZSUyMG11amVyfGVufDB8fDB8fHww&w=1000&q=80"
          alt="">
        <div class="NombreReview">
          <h3>Camila Herrera
          </h3>
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
        </div>
      </div>
      <p>.ContenedorReviews </p>
    </div>

  </div>
  <div class="contenedordoble">
    <div class="CardTestimonio">
      <div class="ImgTextReview">
        <img
          class="ImgReview"
          src="https://www.ohchr.org/sites/default/files/styles/hero_5_image_desktop/public/2022-11/women-rights-main-image.jpg?itok=RRGl2PFb"
          alt="">
        <div class="NombreReview">
          <h3>Maria Sanchez
          </h3>
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
        </div>
      </div>
      <p>Estoy fascinada con el brillo en mi cabello por cosumir las gomitas.</p>
    </div>
    <div class="CardTestimonio">
      <div class="ImgTextReview">
        <img
          class="ImgReview"
          src="https://pbs.twimg.com/profile_images/1635609548688879617/yvhQ8msQ_400x400.jpg"
          alt="">
        <div class="NombreReview">
          <h3>Roberto Perez
          </h3>
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
        </div>
      </div>
      <p>Me gusta mucho el sabor del jugo verde, ademas que estoy contento de los resultados que estoy teniendo.</p>
    </div>
  </div>
  <div>

    <div class="CardTestimonio">
      <div class="ImgTextReview">
        <img
          class="ImgReview"
          src="https://statics-cuidateplus.marca.com/cms/styles/ratio_43/azblob/mujer-50.jpg.webp?itok=QkVyHSnR"
          alt="">
        <div class="NombreReview">
          <h3>Miros Ortega
          </h3>
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
        </div>
      </div>
      <p>Tenía unas uñas muy desgastadas y maltratadas porque me las mordía y con las gomitas tengo una uñas espectaculares.</p>
    </div>

  </div>
</div>

<style>
  .ContenedorReviews {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    position: relative;
  }
  .ContenedorReviews > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 33%;
  }
  .ContenedorReviews > div > img {
    width: 100px;
  }
  .Reviews {

    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  .Reviews h2 {
    font-size: 3rem;
    color: #000000;
  }
  .Reviews > h3 {
    font-size: 2.2rem;
    color: #000000;
  }
  .CardTestimonio {
    background: #ffffff;
    width: auto;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    min-width: 350px;
  }
  .ImgReview {
    width: 80px !important;
    height: 80px !important;
    border-radius: 50%;
    object-fit: cover;
  }
  .ImgTextReview {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: start;
  }
  .NombreReview h3 {
    color: #000000;
    font-weight: 700;
  }
  .NombreReview i {
    color: #FFBE9F;
  }

  @media screen and (max-width: 950px) {
    .ContenedorReviews {}
    .ContenedorImgTextBeneficios {
      flex-direction: column;
    }
    .ContenedorImgTextBeneficios img {
      width: 80%;
      order: 4;
    }
    .contenedordoble {
      display: flex;
      flex-direction: row !important;
    }
    .ContenedorReviews {
      width: 100%;
      overflow: auto;
      padding-bottom: 2rem;
    }
    .CardTestimonio {
      width: 400px;


    }
    .figura {
      display: none;
    }
  }
</style>

{% schema %}
  {
    "name": "Reviews",
    "class": "Reviews",
    "settings": [],
    "blocks": [],
    "presets": [
      {
        "name": "Reviews",
        "blocks": []
      }
    ]
  }
{% endschema %}